<mat-toolbar color="primary" style="padding:12px;font-size: 12px;align-items: center; display: flex;flex-direction:row;flex-wrap: wrap;bottom:0;
width:100%;height:80px;position: fixed;z-index: 999;" >
<div style="flex-grow: .5;">
    <img src="../../../assets/images/transparentLogo5.PNG"> 
</div>
<div style="display: inline-flex;align-content: center;line-height: initial;flex-grow: .5;">
    <span><a href="">About this page</a>|</span>
    <span><a href="resume">Resume</a>|</span>
    <span><a href="">Ryan McDowell home page</a></span>
</div>
<div style="display: inline-flex;flex-direction:column;align-content: center;line-height: initial;flex-grow: .5;flex:0 0">
    <span>Built By Ryan McDowell</span>
    <span>Powered by Angular and .Net Core</span>
    <span>Hosted on Azure</span>
</div>
</mat-toolbar>

<!-- routerLink="resume" -->