<div class="left-right-margin-main-content top-bottom-margin-main-content;"
    style="display: flex;flex-direction: column;height:100%;align-items: center;justify-content: center;margin-top:80px;">
    <div style="width:80%;margin-bottom: 15px;">
        <mat-card>
            <div style="display: flex;justify-content: center;">
                <h1 class="mat-display-1" style="margin-bottom:20px;"><strong>This is the home page for my
                        portfolio!</strong></h1>
            </div>
            <div>
                <h1 style="font-size:large;">This is a page that models functionality that a real company can use. There
                    is no real contact data in this application, it is all fake.
                    Some of the technologies that are used in this application are: ASP.Net Core, Angular, Angular
                    Material, C# Web API's, LINQ, SQL Server, Entity Framework, Azure, and Azure DevOps.  If you like what you see in this demo project and would
                    like to discuss with me please contact me using the information below!
                </h1>
            </div>
        </mat-card>
    </div>
    <div style="height:60%;width:80%;display: flex;">
        <div style="width:33%;margin-right:3%;">
            <mat-card>
                <div>
                    <h1 style="font-size:large;">Download My Resume</h1>
                </div>
                <div style="padding-left: 5%;">
                    <a
                        href="https://sqlvaq423udyzrtohe.blob.core.windows.net/resume/CharlesMcDowellResumeWithPersonalProject.pdf">
                        <mat-icon style="color:#3949ab;transform: scale(3);padding-left:1%;">cloud_download</mat-icon>
                    </a>
                </div>
            </mat-card>
        </div>
        <div style="width:33%;margin-right:3%;">
            <mat-card>
                <div>
                    <h1 style="font-size:large;">Email Ryan</h1>
                </div>
                <div style="padding-left: 5%;">
                    <mat-icon style="color:#3949ab;transform: scale(3);padding-left:1%;cursor: pointer;"
                        (click)="sendEmail()">email</mat-icon>
                </div>
            </mat-card>
        </div>
        <div style="width:33%;">
            <mat-card>
                <div>
                    <h1 style="font-size:large;">Call Ryan - 470.560.7460</h1>
                </div>
                <div style="padding-left: 5%;">
                    <mat-icon style="color:#3949ab;transform: scale(3);padding-left:1%;">call</mat-icon>
                </div>                
            </mat-card>
        </div>
    </div>
</div>
<!-- 
<div style="display: flex;flex-wrap:wrap;">
    <div>
        <h1 class="mat-display-1">The quick brown fox jumps over the lazy dog.</h1>
        <h1>The quick brown fox jumps over the lazy dog.</h1>
        <div>
            <mat-icon style="color:blue;transform: scale(3);">360</mat-icon>
        </div>
    </div>
</div> -->