/* You can add global styles to this file, and also import other style files */
html{    
    height:100%;
}

html, body{ 
    /* height: 100%;  */
}

body{
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    min-height:100%;
}

.tableParentDiv{
    max-height:580px;
    overflow: auto;
}

table{
    width: 100%;
}

.mat-row:hover {
    background-color: rgb(240, 240, 240);
}

.left-right-margin-main-content{
    margin-left:10%;
    margin-right:10%;
}

.top-bottom-margin-main-content{
    margin-top:50px;
    margin-bottom: 50px;
}

.areaHeadings{
    font:500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

.mat-card-table-icons-edit{
    background-color: #b5b7c3;
}

.mat-card-table-icons-delete{
    background-color: #ff2626;
}